# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.pytest_cache/

# VS Code
.vscode/

# Sphinx build
docs/_build/

# Generated optimization output
results/
results_*/
output/
*.bp

# FEniCS / mesh output
*.xdmf
*.h5

# Linux
.DS_Store

.ipynb_checkpoints/
